.Chaveamento {
    margin-top: 5rem;
    min-height: 100vh;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}

.Chaveamento main span{
    margin-bottom: 30px;
}

.Chaveamento span {
    padding: 10px;
    border: 3px solid;
    background-color: #FFF;
}

.Chaveamento span:hover {
    padding: 10px;
    border: 3px solid;
    color: #FFF;
    background: linear-gradient(90deg, rgba(0, 36, 36, 1) 0%, rgba(18, 2, 57, 1) 28%, rgba(80, 5, 73, 1) 100%);
    cursor: pointer;
}